<div id="<%= dom_id view_definition %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= view_definition.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= view_definition.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= view_definition.content %>
  </p>

</div>
