<%= turbo_stream.update "action_result_#{@view_definition.id}" do %>
  <div class="bg-green-100 p-4 rounded-lg shadow">
    <p class="text-md">
      Query saved to Superset. 
      <%= link_to "Click here", "http://localhost:8088/sqllab?savedQueryId=#{@view_id}", 
          target: :_blank,
          class: "font-semibold text-blue-600 hover:text-blue-800 underline" %>
      to open query
    </p>
  </div>
<% end %>